@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #d3dad9;
  --primary: #151416;
  --muted: #1e1e22;
  --brand: #b87426;
  --primary-font: "Estedad", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-brand: var(--brand);
  --font-primary: var(--primary-font);
  --breakpoint-tablet: 600px;
}

@keyframes scale-in {
  from {
    transform: scale(0.95);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 0.9;
  }
}

@keyframes fade-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@utility animate-scale-in {
  animation: scale-in 0.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@utility animate-fade-in {
  animation: fade-in 0.8s ease-in-out;
  /* animation-iteration-count: 1; */
}

body {
  /* background: var(--primary); */
  font-family: var(--primary-font) sans-serif;
  color: var(--foreground);
}
